#demo-landing {
    min-height: 100vh;
    max-width: 100vw;
    background: rgb(25, 25, 25);

    .api-form * {
        color: whitesmoke;
    }

    @media screen and (min-width: 769px) {
        .api-form {
            margin-top: 40vh;
        }
    }


    .profile-card {
        box-shadow: rgba(255,255,255, 0.3) 0px 1px 2px 0px, rgba(255,255,255, 0.15) 0px 1px 3px 1px!important;
    }

    .profile-card:hover {
        box-shadow: rgba(105,240,174, 0.3) 0px 1px 2px 0px, rgba(105,240,174, 0.15) 0px 1px 3px 1px!important;
    }

    .card-header-text {
        margin-left: -15px!important;
    }

    .card-header-button {
        margin-right: -15px!important;
    }

    .single-item {
        display: flex;
        flex-direction: column;
        .banner-image {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 200px;
        }

        .profile-image-container {
            margin-top: -60px;
            background: transparent;
            margin-left: auto;
            margin-right: auto;
        }

        .profile-image {
            border-radius: 100%;
            width: 80px;
            height: 80px;
            object-fit: cover;
            object-position: top;
        }

        .profile-bio {
            white-space: pre-wrap;
            text-align: justify;
            text-justify: inter-word;
        }

        .blank-banner {
            background: #A7A7A7;
            width: 100%;
            height: 200px;
        }


        .hr-text {
            line-height: 1em;
            position: relative;
            outline: 0;
            border: 0;
            color: black;
            text-align: center;
            height: 1.5em;
            opacity: .5;
            &:before {
                content: '';
                background: linear-gradient(to right, transparent, #818078, transparent);
                position: absolute;
                left: 0;
                top: 50%;
                width: 100%;
                height: 1px;
            }
            &:after {
                content: attr(data-content);
                position: relative;
                display: inline-block;
                padding: 0 .5em;
                line-height: 1.5em;
                color: whitesmoke;
                background: #424242;
            }
        }
    }


}

::ng-deep .nice-tooltip {
    background: whitesmoke;
    font-size: 1em;
    padding: 25px;
    text-align: center;
    color: black!important;
}

::ng-deep a, ::ng-deep a:hover {
    color: whitesmoke;
    font-weight: bold;
    text-decoration: underline;
}

::ng-deep .mat-card-header-text {
    width: 100%;
}

::ng-deep .mat-form-field-empty.mat-form-field-label {
    color: whitesmoke!important;
}
