<section
        class="d-flex flex-column flex-md-row justify-content-center justify-content-md-around p-2 pt-4 p-md-4"
        id="demo-landing">
    <div class="d-flex flex-column align-items-md-start align-items-center api-form">
        <a href="https://www.xano.com" target="_blank">
            <img class="logo clickable" src="https://app.xano.com/admin/assets/images/xano-logo-tagline.svg"
                 width="365px" class="pr-2 pl-2"/>
        </a>
        <div class="w-100">
            <h2 class="mt-4 text-center">{{config.title}}</h2>
            <form [formGroup]="configForm" class="w-100 pr-2 pl-2">
                <mat-form-field appearance="outline" class="w-100 mt-4" color="accent">
                    <mat-label>Your Xano API URL</mat-label>
                    <input (paste)="pasteSubmit()" autocomplete="off" formControlName="xanoUrl" matInput/>
                    <mat-icon (click)="submit()" class="cursor-pointer" color="accent" matSuffix>login</mat-icon>
                    <mat-error *ngIf="configForm.controls.xanoUrl.hasError('required')">URL is required</mat-error>
                    <mat-error *ngIf="configForm.controls.xanoUrl.hasError('pattern')">Please enter a Valid URL
                    </mat-error>
                </mat-form-field>
            </form>
        </div>
    </div>

    <mat-card class="m-md-4 m-2 pb-4" style="width: 600px; max-width: 90vw">
        <button mat-flat-button class="mr-2" (click)="viewAll()" *ngIf="singleItem">
            <mat-icon style="transform: rotate(180deg)">forward</mat-icon> All Profiles
        </button>
        <mat-card-header class="p-0">
            <mat-card-title class="d-flex justify-content-center align-items-center w-100">
                <h3 class="pt-2 m-0 card-header-text">{{singleItem ? 'Single Profile' : 'Profiles'}}</h3>
                <div class="ml-md-2 pt-3">
                    <mat-icon class="cursor-pointer"
                              matTooltipClass="nice-tooltip"
                              [matTooltip]="information.get_all">
                        info
                    </mat-icon>
                </div>
                <div class="ml-auto">
                    <button class="card-header-button" *ngIf="!editing else editingActions"
                            matTooltipClass="nice-tooltip"
                            [matTooltip]="information.add_record"
                            (click)="editOrAddRecord()"
                            mat-raised-button color="accent"
                    ><mat-icon>{{singleItem? 'edit' : 'add'}}</mat-icon> Record
                    </button>

                    <ng-template #editingActions>
                            <button mat-raised-button (click)="editing = false" class="card-header-button">
                                <mat-icon>close</mat-icon>
                            </button>
                    </ng-template>

                </div>
            </mat-card-title>
        </mat-card-header>

        <div class="pb-4 pt-2">
            <mat-divider></mat-divider>
        </div>

        <div *ngIf="(!singleItem && !(editing && newItem))else showSingle">
            <mat-card *ngFor="let profile of data" class="mb-4 profile-card cursor-pointer" (click)="getSingleItem(profile?.id)">
                <mat-card-header>
                    <img [src]="profile?.profile_image?.url ? profile?.profile_image?.url : 'assets/images/dummy450x450.jpg'" class="mt-2" mat-card-avatar>
                    <mat-card-title class="w-100 d-flex">
                        <div>{{profile.name}}</div>
                        <mat-icon class="cursor-pointer ml-auto"
                                  matTooltipClass="nice-tooltip"
                                  [matTooltip]="singleItem ? information?.get_single : information.get_all_row">
                            info
                        </mat-icon>
                    </mat-card-title>
                    <mat-card-subtitle>{{profile.slogan}}</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </div>

        <ng-template #showSingle>
            <div class="single-item">
                <button mat-mini-fab color="accent" *ngIf="editing" style="z-index: 9; transform: translate(15px, 50px)">
                    <mat-icon class="cursor-pointer"  (click)="bannerUpload = true; fileUpload.click();">edit
                    </mat-icon>
                </button>

                <img *ngIf="banner_image" [src]="banner_image" class="banner-image"/>
                <img *ngIf="!banner_image && singleItem?.banner_image?.url else blankBanner" [src]="singleItem?.banner_image?.url" class="banner-image"/>
                <ng-template #blankBanner>
                    <div class="blank-banner" *ngIf="!banner_image"></div>
                </ng-template>

                <div class="profile-image-container">
                    <img *ngIf="profile_image" [src]="profile_image" class="profile-image"/>
                    <img *ngIf="!profile_image" [src]="singleItem?.profile_image?.url ? singleItem?.profile_image?.url : 'assets/images/dummy450x450.jpg'"
                         class="profile-image">
                </div>
                <div class="text-center">
                    <button mat-mini-fab color="accent" *ngIf="editing" style="z-index: 9; transform: translate(35px, -90px)">
                        <mat-icon class="cursor-pointer"  (click)="bannerUpload = false; fileUpload.click();">edit
                        </mat-icon>
                    </button>

                </div>
                <div class="text-center d-flex flex-column">
                    <h4 class="pt-2" *ngIf="!editing else nameInput">{{singleItem?.name}}</h4>
                    <ng-template #nameInput>
                        <mat-form-field floatLabel="never" color="accent">>
                            <input matInput [formControl]="myFirstForm.controls.name" placeholder="Name" autocomplete="off">
                        </mat-form-field>
                    </ng-template>


                    <b *ngIf="!editing else sloganInput">{{singleItem?.slogan}}</b>
                    <ng-template #sloganInput >
                        <mat-form-field  floatLabel="never" color="accent">>
                            <input matInput [formControl]="myFirstForm.controls.slogan" placeholder="Slogan" autocomplete="off">
                        </mat-form-field>
                    </ng-template>
                </div>
                <div>
                    <hr class="hr-text" data-content="Bio">
                </div>
                <div class="profile-bio">
                    <div *ngIf="!editing else bioInput" class="pb-4">{{singleItem?.bio}}</div>

                    <ng-template #bioInput>
                        <mat-form-field class="w-100" floatLabel="never" color="accent">>
                            <textarea matInput [formControl]="myFirstForm.controls.bio" placeholder="Write a Bio..." rows="25"></textarea>
                        </mat-form-field>
                    </ng-template>

                </div>
            </div>

            <div class="d-flex" *ngIf="editing">
                <button mat-raised-button color="warn" *ngIf="singleItem?.id"
                        matTooltipClass="nice-tooltip"
                        (click)="delete()"
                        [matTooltip]="information.delete_record"
                >
                    <mat-icon>delete</mat-icon> Record
                </button>
                <button mat-raised-button color="accent"
                        (click)="save()"
                        class="ml-auto"
                        matTooltipClass="nice-tooltip"
                        [matTooltip]="singleItem?.id ? information.update_record : information.save_record"
                >
                    <mat-icon>{{singleItem?.id ? 'update' : 'save'}}</mat-icon> Record
                </button>
            </div>
            <input #fileUpload (change)="upload($event)" accept="image/*" hidden type="file">
        </ng-template>


        <!--        <div *ngIf="config.editLink" class="mt-4">-->
        <!--            <b>Source Code</b>-->
        <!--            <mat-divider class="mt-2"></mat-divider>-->
        <!--            <p class="mt-4">-->
        <!--                The source code for this demo is available publicly.-->
        <!--            </p>-->
        <!--            <a [href]="config.editLink" color="accent" mat-raised-button target="_blank">-->
        <!--            <a [href]="config.editLink" color="accent" mat-raised-button target="_blank">-->
        <!--                {{config.editText ? config.editText : 'Get Source Code'}}-->
        <!--            </a>-->
        <!--        </div>-->
    </mat-card>

</section>
